.calculator-container {
  height: max-content;
  width: 700px;
  background-color: darkgrey;
}

.number-input {
  width: 100%;
  height: 80px;
  padding: 0;
  border: 0;
  color: aliceblue;
  background-color: #8e919c;
  font-family: 'VT323', monospace;
  font-size: 50px;
  text-align: end;
}

::placeholder {
  color: aliceblue;
  opacity: 1;
}

.buttons-container {
  display: grid;
  grid-template-columns: 75% 25%;
}

.numbers-container {
  display: grid;
  grid-template-columns: auto auto auto;
}

.basic-operations-container {
  display: flex;
  flex-direction: column;
}

.calculator-button {
  padding: 0;
  margin: 0;
  background-color: aliceblue;
  height: 100px;
  font-size: larger;
  font-weight: bold;
}

.zero {
  grid-column: span 2;
}

.operator {
  background-color: #ff8843;
}
